.carousel .item {
    height: 300px;
  }

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 200px;
}

.aboutUs{
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size: 10
}